.collection {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection__image {
  max-width: 1440px;
  min-height: 490px;
  width: 100%;
  background-image: url('../images/image.png');
  opacity: 0.8;
  z-index: 0;
  margin-top: 18px;
}

.collection__title {
  width: 688px;
  margin-left: 60px;
  line-height: 125px;
  font-size: 40px;
  font-weight: 700;
  margin-right: 0;
}

.collection__text {
  width: 635px;
  margin: 16px 0 24px 60px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

.collection__link {
  margin-left: 60px;
  line-height: 23px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  width: 160px;
  color: green;
}

.collection__arrow {
  width: 43px;
  margin-right: 16px;
}
