.information {
  max-width: 1440px;
  width: 100%;
  max-height: 463px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information__image {
  width: 100%;
  min-height: 463px;
  height: 100%;
  background-image: url('../../images/flower.png');
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information__title {
  width: 308px;
  margin-top: 60px;
  align-self: flex-start;
  margin-left: 100px;
  line-height: 48px;
  font-size: 27px;
  font-weight: 700;
}

.information__text {
  width: 825px;
  margin: 16px 0 24px;
  align-self: flex-start;
  margin-left: 100px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

.information__form {
  width: 350px;
  align-self: flex-start;
  margin-left: 100px;
}

.form__input {
  width: 350px;
  height: 45px;
  margin-bottom: 24px;
  padding-left: 13px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  border: none;
}

.form__button {
  width: 145px;
  height: 45px;
  line-height: 22px;
  font-size: 16px;
  font-weight: 700;
  background-color: #bae249;
  border: none;
}
